/* BRO WAYBAR DOESN'T FUCKING SUPPORT ROOT VARIABLE DECLARE JUST USE GTK SHIT*/
@import url("theme.css");

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Noto Sans", otf-font-awesome, ttf-noto-nerd;
    font-size: 16px;
}

#waybar>box {
    margin: 10px 10px 5px 10px;
    background-color: @floating-box-color;
    box-shadow: 0 0 2 2px @shadow-color;
    /* border-radius: 10px; */
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 1.5s;
}

window#waybar.fullscreen {
    opacity: 0;
}

window#waybar.empty #window {
    opacity: 0;
}

window#waybar.floating #window {
    opacity: 0;
}

#clock,
#cpu,
#memory,
#wireplumber,
#custom-media,
#tray,
#mpd,
#window,
#user,
#privacy-item,
#submap,
#mpris,
#pinned,
#custom-swaync,
#custom-sysmenu,
#workspaces {
    border-radius: 16px;
    background-color: transparent;
    margin: 0px 2.5px;
    color: @text-color;
    /* box-shadow: 0 0 2 1px @mauve, inset 0 0 0 2px @mauve; */
}

#custom-sysmenu {
    margin-left: 10px;
}

#custom-swaync {
    margin-right: 10px;
}

tooltip {
    color: @text-color;
    background-color: @tooltip-bg-color;
}

/* #pinned {
    margin-right: 12px;
}

#workspaces {
    margin-left: 12px;
} */

#pulseaudio,
#network {
    font-size: 16px;
    padding: 0 5px;
}

#custom-tray_chevron {
    color: @subtext-color;
    padding: 0 0px
}

/* Hyprland Workspace */

#workspaces button {
    color: @text-color;
    border-radius: 20px;
    margin: 0 -7px;
}

#workspaces button:hover label{
    background-color: @label-color-hover;
}

#workspaces label {
    background-color: @label-color;
    /* border-radius: 30px; */
    padding: 0 10px;
    font-size: 16px;
}

#workspaces button.active label {
    color: @workspace-color-active;
    background-color: @highlight-color;
}

#workspaces button.urgent label {
    color: @alert-color-text;
    background-color: @alert-color;
}

/* Audio */

#pulseaudio.muted {
    color: @alert-color-text;
    background-color: @alert-color;
    border-radius: 20px;
}

#mpris.paused {
    color: @alert-color-text;
    background-color: @alert-color;
    border-radius: 12px;
    margin: 4px 0px;
    padding: 0 10px;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#privacy-item.screenshare {
    color: @base;
    background-color: @lavendar;
}

#privacy-item.audio-in {
    margin: 4px 0px;
    color: @base;
    background-color: @peach;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}