@import "palette.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: otf-font-awesome, "Noto Sans";
    font-size: 14px;
}

window#waybar {
    background: transparent;
    background-color: alpha(@base, 0.9);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.fullscreen {
    opacity: 0;
}

window#waybar.empty #window
{
    opacity: 0;
}

#workspaces button {
    padding: 0 0px;
    background-color: @overlay0;
    border-radius: 100;
    color: transparent;
}

#workspaces button:hover {
    background-color: @overlay2;
}

#workspaces button.focused {
    color: rgb(203, 166, 247);
    background-color: #64727D;
}

#workspaces button.active {
    padding: 0 20px;
    background-color: @mauve;
}

#workspaces button.urgent {
    background-color: rgb(243, 139, 168);
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#network,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#custom-wlogout,
#workspaces,
#window,
#user,
#privacy-item,
#custom-waypaper,
#hyprland,
#power,
#submap
{
    /* background-color: @overlay1; */
    border-radius: 100;
    padding: 0 5px;
    color: @text;
}

tooltip {
    background-color: alpha(@base, 0.9);
}

label:focus {
    background-color: #000000;
}

#wireplumber.muted {
    color: @base;
    background-color: @red;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#idle_inhibitor.activated {
    color: rgb(203, 166, 247);
}

#privacy-item.screenshare {
    color: @base;
    background-color: @mauve;
}

#privacy-item.audio-in {
    color: @base;
    background-color: @peach;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}