* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: otf-font-awesome, "Noto Sans";
    font-size: 14px;
}

window#waybar {
    background-color: rgba(30, 30, 46, 0.9);
    border-bottom: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.fullscreen {
    opacity: 0;
}

window#waybar.empty #window
{
    opacity: 0;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: rgb(205, 214, 244);
}

#workspaces button:hover {
    background: rgb(49, 50, 68);
}

#workspaces button.focused {
    color: rgb(203, 166, 247);
    background-color: #64727D;
    box-shadow: inset 0 -3px rgb(203, 166, 247);
}

#workspaces button.active {
    color: rgb(203, 166, 247)
}

#workspaces button.urgent {
    background-color: rgb(243, 139, 168);
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#network,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#custom-wlogout,
#workspaces,
#window,
#user,
#privacy-item,
#custom-waypaper,
#hyprland,
#power,
#submap
{
    background-color: rgb(49, 50, 68);
    border-radius: 10;
    padding: 0 5px;
    color: rgb(205, 214, 244);
}

tooltip {
    background-color: #1e1e2e;
}

label:focus {
    background-color: #000000;
}

#wireplumber.muted {
    color: rgb(49, 50, 68);
    background-color: rgb(243, 139, 168);
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #a6d189;
    padding: 0 0px;
    color: transparent;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#idle_inhibitor.activated {
    color: rgb(203, 166, 247);
}