@import "palette.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Noto Sans", otf-font-awesome, ttf-noto-nerd;
    font-size: 14px;
}

window#waybar {
    background-color: alpha(@base, 0.5);
    transition-property: background-color;
    transition-duration: 1.5s;
}

window#waybar.fullscreen {
    opacity: 0;
}

window#waybar.empty #window{
    opacity: 0;
}

window#waybar.floating #window{
    opacity: 0;
}

#clock,
#cpu,
#memory,
#wireplumber,
#custom-media,
#tray,
#mpd,
#window,
#user,
#privacy-item,
#submap,
#workspaces,
#mpris,
#pinned
{
    border-radius: 16;
    background-color: alpha(@base, 0.55);
    margin: 4 0px;
    padding: 0 7px;
    color: @text;
    /* box-shadow: 0 0 2 1px @mauve, inset 0 0 0 2px @mauve; */
}

tooltip {
    color: @text;
    background-color: alpha(@base, 0.5);
}

#pinned {
    margin-right: 12px;
}

#workspaces {
    margin-left: 12px;
}

#idle_inhibitor,
#custom-wlogout,
#custom-waypaper,
#pulseaudio,
#network
{
    font-size: 16px;
    padding: 0 5px;
}

#custom-tray_chevron {
    color: @overlay0;
    padding: 0 0px
}

#workspaces label {
    font-size: 16px;
}

#workspaces button {
    background-color: transparent;
    color: @overlay0;
    border-radius: 20;
    margin: 0 -8px;
}

#workspaces button.active label{
    padding: 0 10px;
    border-radius: 30px;
    background-color: @mauve;
}

#workspaces button.active {
    color: #8839ef;
    background-color: transparent;
}

#workspaces button.urgent {
    background-color: @red;
}

#wireplumber.muted,
#pulseaudio.muted,
#mpris.paused
{
    color: @base;
    background-color: @red;
    border-radius: 20px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor.activated {
    color: @mauve;
}

#privacy-item.screenshare {
    color: @base;
    background-color: @lavendar;
}

#privacy-item.audio-in {
    margin: 4 0px;
    color: @base;
    background-color: @peach;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}