Code/User/globalStorage
Code/User/History
Code/User/snippets
Code/User/workspaceStorage
Code/User/chatLanguageModels.json

kitty/kitty.conf.bak

mpv/shaders

tmux/plugins/*

vim/.netrwhist

zsh/.zsh_history
zsh/.zcompdump-*
zsh/.p10k.zsh